{% extends "index.html" %}

{% block content %}

    <h1>404 - Page Not Found</h1>
    <p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
    <p>Please check the URL for proper spelling and capitalization. If you're having trouble locating a destination on
        our site, try visiting our <a href="/">home page</a>.</p>

{% endblock content %}