{% extends "index.html" %}
{% block content %}
    <form method='post'>
        <p>Are you sure you want to delete {{ student.first_name }} {{ student.last_name }}?</p>
        <input type="submit" value="Confirm">
    </form>

{% endblock content %}