{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block search %}
<form method="GET" action="{% url 'students:get_students' %}" style="margin-right: 80px;">

    <input type="text" name="search" placeholder="Search by name or email" style="
    background-color: #222;
    border-radius: 5px;
    color: #fff;
    border: solid 1px #fff;
    padding-left: 8px;">

    <button type="submit" style="
    background-color: #444;
    border: solid 1px #fff;
    border-radius: 5px;
    color: #fff;">Search</button>
</form>
{% endblock search %}


{% block content %}
<table class="table table-hover table-dark">
    <thead>
    <tr>
        <th scope="col">Avatar</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Grade</th>
        <th scope="col">Birth date</th>
        <th scope="col">Age</th>
        <th scope="col">Group</th>
        <th scope="col">Summary</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    {% for student in students %}
        <tbody>
        <tr>
            <td>
            {% if student.avatar %}
                <img src="{{ student.avatar.url }}" style="max-width: 70px; max-height: 70px;">
            {% else %}
                <span>No avatar</span>
            {% endif %}
            </td>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.grade }}</td>
            {% if student.birth_date %}
                <td>{{ student.birth_date }}</td>
                <td>{{ student.age }}</td>
            {% else %}
                <td>Unknown</td>
                <td>Unknown</td>
            {% endif %}
            <td>{{ student.group }}</td>
            <td>
                <a type="button" class="btn btn-info"
                   href="{% url "students:summary_students" student.pk %}">Summary</a>
            </td>
            <td>
                <a type="button" class="btn btn-info"
                   href="{% url "students:update_students" student.pk %}">Update</a>
            </td>
            <td>
                <a type="button" class="btn btn-danger"
                   href="{% url "students:delete_students" student.pk %}">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}