{% extends "index.html" %}
{% block content %}
    <form method='post'>
        <p>Are you sure you want to delete {{ teacher.first_name }} {{ teacher.last_name }}?</p>
        <input type="submit" class="btn btn-danger" value="Confirm">
    </form>

{% endblock content %}