{% extends "index.html" %}
{% load crispy_forms_tags %}




{% block content %}
<table class="table table-hover table-dark">
    <thead>
    <tr>
        <th scope="col">Avatar</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone number</th>
        <th scope="col">City</th>
        <th scope="col">Birth date</th>
        <th scope="col">Age</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
        <th scope="col">Groups</th>
    </tr>
    </thead>
    {% for teacher in teachers %}
        <tbody>
        <tr>
             <td>
            {% if teacher.avatar %}
                <img src="{{ teacher.avatar.url }}"  style="max-width: 70px; max-height: 70px;">
            {% else %}
                <span>No avatar</span>
            {% endif %}
            </td>
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.last_name }}</td>
            <td>{{ teacher.email }}</td>
            <td>{{ teacher.phone_number|default:"Unknown"}}</td>
            <td>{{ teacher.city|default:"Unknown"}}</td>
            {% if teacher.birth_date %}
                <td>{{ teacher.birth_date }}</td>
                <td>{{ teacher.age }}</td>
            {% else %}
                <td>Unknown</td>
                <td>Unknown</td>
            {% endif %}
            <td>
                <a type="button" class="btn btn-info"
                   href="{% url "teachers:update_teachers" teacher.pk %}">Update</a>
            </td>
            <td>
                <a type="button" class="btn btn-danger"
                   href="{% url "teachers:delete_teachers" teacher.pk %}">Delete</a>
            </td>
             <td>
                <a type="button" class="btn btn-info"
                   href="{% url "teachers:teacher_group" teacher.pk %}">Groups</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}