{% extends "index.html" %}




{% block content %}
<h1>Groups {{ teacher.first_name }} {{ teacher.last_name }}</h1>
<table class="table table-hover table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Start date</th>
        <th scope="col">Max quantity students</th>
        <th scope="col">Max quantity teachers</th>
        <th scope="col">Status</th>
        <th scope="col">Duration study months</th>
    </tr>
    </thead>
    {% for group in groups %}
        <tbody>
        <tr>
            <th scope="row"> {{ group.pk }}</th>
            <td>{{ group.name }}</td>
            <td>{{ group.start_date|default:"Unknown"}}</td>
            <td>{{ group.max_quantity_students }}</td>
            <td>{{ group.max_quantity_teachers }}</td>
            <td>{{ group.status }}</td>
            <td>{{ group.duration_study_months }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}