{% extends "index.html" %}
{% block content %}
    <form method='post'>
        <p>Are you sure you want to
            delete {{ group.name }}, {{ group.start_date }}, {{ group.status }}?</p>
        <input type="submit" class="btn btn-danger" value="Confirm">
    </form>

{% endblock content %}