{% extends "index.html" %}
{% load crispy_forms_tags %}




{% block content %}
<table class="table table-hover table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Start date</th>
        <th scope="col"> Max quantity students</th>
        <th scope="col">Max quantity teachers</th>
        <th scope="col">Status</th>
        <th scope="col">Duration study months</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    {% for group in groups %}
        <tbody>
        <tr>
            <th scope="row"> {{ group.pk }}</th>
            <td>{{ group.name }}</td>
            <td>{{ group.start_date|default:"Unknown" }}</td>
            <td>{{ group.max_quantity_students }}</td>
            <td>{{ group.max_quantity_teachers}}</td>
            <td>{{ group.status }}</td>
            <td>{{ group.duration_study_months}}</td>

            <td>
                <a type="button" class="btn btn-info"
                   href="{% url "groups:update_groups" group.pk %}">Update</a>
            </td>
            <td>
                <a type="button" class="btn btn-danger"
                   href="{% url "groups:delete_groups" group.pk %}">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}